* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Verdana, sans-serif;
}

.container {
  width: 1170px;
  margin: 0 auto;

}

img {
  min-width: 100%;
}

pre,code {
  margin: 0;
}

.main-title {
  margin: 20px 0 30px;
  font-size: 60px;
  color: #3f2aff;
}

.text {
  margin: 0 0 30px;
  max-width: 730px;
  font-size: 20px;
  line-height: 1.6;
  color: #333;
}

.quote-text {
  text-align: center;
  max-width: 900px;
  padding: 25px 120px;
  background-color: #ebebeb;
}

.quote {
  font-weight: 700;
}

.image-group {
  margin: 0;
  margin-bottom: 60px;
}

.image-group-text {
  padding: 12px;
  font-size: 20px;
  background-color: #3f2aff;
  text-align: center;
  color: #fff;
}

.second-title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 40px;
  color: #333;
}

.list {
  margin: 20px 0;
  padding-left: 40px;
  font-size: 20px;
  line-height: 48px;
}

.table {
  border-collapse: collapse;
  width: 100%;
  margin: 0 0 60px;
}

.table-caption {
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;

}

.table-cell {
  padding: 30px;
  font-size: 20px;
  text-align: left;
  vertical-align: top;
  border: 1px solid rgba(0, 0, 0, .3)
}

.table-header {
  color: #3f2aff;
  font-weight: bold;
}
